<p>home works!</p>
<a href="/cosa" mat-raised-button>Cosa</a>
<a href="javascript:void(0)" mat-raised-button (click)="openDialog()">Abrir diálogo</a>
<div *ngIf="favouriteAnimal != null">Favourite animal: {{favouriteAnimal}}</div>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse eveniet facilis
  voluptates consequuntur vitae, dignissimos, perspiciatis consequatur aliquid
  cumque, maiores sequi accusantium eligendi temporibus error a aperiam tempore
  voluptas debitis sed excepturi exercitationem earum. Quaerat mollitia at quasi
  optio. Temporibus tenetur sint fuga vel sit corrupti veniam voluptate laborum
  at accusantium ex itaque dolore ipsa beatae quaerat maxime fugit quia id, cum
  architecto, totam perferendis sequi reiciendis. Voluptatibus deleniti aperiam
  perspiciatis sunt autem nihil, eveniet dolorum doloribus harum, expedita
  quisquam, soluta ipsa adipisci. Explicabo mollitia ab hic consequuntur ipsa
  inventore repudiandae et necessitatibus ducimus eos dolorum, porro qui dolorem
  aliquid laudantium modi aperiam. Labore in quisquam ipsam sapiente temporibus,
  cumque tempore perspiciatis veniam repellendus repellat ipsum non nobis, autem
  fugiat sit amet alias ea officia quam. Error aperiam sit, optio doloremque
  deserunt tenetur sequi architecto? Minima blanditiis suscipit nesciunt
  voluptas dicta cumque odio possimus eaque tenetur. Tenetur nam minus atque.
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse eveniet facilis
  voluptates consequuntur vitae, dignissimos, perspiciatis consequatur aliquid
  cumque, maiores sequi accusantium eligendi temporibus error a aperiam tempore
  voluptas debitis sed excepturi exercitationem earum. Quaerat mollitia at quasi
  optio. Temporibus tenetur sint fuga vel sit corrupti veniam voluptate laborum
  at accusantium ex itaque dolore ipsa beatae quaerat maxime fugit quia id, cum
  architecto, totam perferendis sequi reiciendis. Voluptatibus deleniti aperiam
  perspiciatis sunt autem nihil, eveniet dolorum doloribus harum, expedita
  quisquam, soluta ipsa adipisci. Explicabo mollitia ab hic consequuntur ipsa
  inventore repudiandae et necessitatibus ducimus eos dolorum, porro qui dolorem
  aliquid laudantium modi aperiam. Labore in quisquam ipsam sapiente temporibus,
  cumque tempore perspiciatis veniam repellendus repellat ipsum non nobis, autem
  fugiat sit amet alias ea officia quam. Error aperiam sit, optio doloremque
  deserunt tenetur sequi architecto? Minima blanditiis suscipit nesciunt
  voluptas dicta cumque odio possimus eaque tenetur. Tenetur nam minus atque.
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse eveniet facilis
  voluptates consequuntur vitae, dignissimos, perspiciatis consequatur aliquid
  cumque, maiores sequi accusantium eligendi temporibus error a aperiam tempore
  voluptas debitis sed excepturi exercitationem earum. Quaerat mollitia at quasi
  optio. Temporibus tenetur sint fuga vel sit corrupti veniam voluptate laborum
  at accusantium ex itaque dolore ipsa beatae quaerat maxime fugit quia id, cum
  architecto, totam perferendis sequi reiciendis. Voluptatibus deleniti aperiam
  perspiciatis sunt autem nihil, eveniet dolorum doloribus harum, expedita
  quisquam, soluta ipsa adipisci. Explicabo mollitia ab hic consequuntur ipsa
  inventore repudiandae et necessitatibus ducimus eos dolorum, porro qui dolorem
  aliquid laudantium modi aperiam. Labore in quisquam ipsam sapiente temporibus,
  cumque tempore perspiciatis veniam repellendus repellat ipsum non nobis, autem
  fugiat sit amet alias ea officia quam. Error aperiam sit, optio doloremque
  deserunt tenetur sequi architecto? Minima blanditiis suscipit nesciunt
  voluptas dicta cumque odio possimus eaque tenetur. Tenetur nam minus atque.
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse eveniet facilis
  voluptates consequuntur vitae, dignissimos, perspiciatis consequatur aliquid
  cumque, maiores sequi accusantium eligendi temporibus error a aperiam tempore
  voluptas debitis sed excepturi exercitationem earum. Quaerat mollitia at quasi
  optio. Temporibus tenetur sint fuga vel sit corrupti veniam voluptate laborum
  at accusantium ex itaque dolore ipsa beatae quaerat maxime fugit quia id, cum
  architecto, totam perferendis sequi reiciendis. Voluptatibus deleniti aperiam
  perspiciatis sunt autem nihil, eveniet dolorum doloribus harum, expedita
  quisquam, soluta ipsa adipisci. Explicabo mollitia ab hic consequuntur ipsa
  inventore repudiandae et necessitatibus ducimus eos dolorum, porro qui dolorem
  aliquid laudantium modi aperiam. Labore in quisquam ipsam sapiente temporibus,
  cumque tempore perspiciatis veniam repellendus repellat ipsum non nobis, autem
  fugiat sit amet alias ea officia quam. Error aperiam sit, optio doloremque
  deserunt tenetur sequi architecto? Minima blanditiis suscipit nesciunt
  voluptas dicta cumque odio possimus eaque tenetur. Tenetur nam minus atque.
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse eveniet facilis
  voluptates consequuntur vitae, dignissimos, perspiciatis consequatur aliquid
  cumque, maiores sequi accusantium eligendi temporibus error a aperiam tempore
  voluptas debitis sed excepturi exercitationem earum. Quaerat mollitia at quasi
  optio. Temporibus tenetur sint fuga vel sit corrupti veniam voluptate laborum
  at accusantium ex itaque dolore ipsa beatae quaerat maxime fugit quia id, cum
  architecto, totam perferendis sequi reiciendis. Voluptatibus deleniti aperiam
  perspiciatis sunt autem nihil, eveniet dolorum doloribus harum, expedita
  quisquam, soluta ipsa adipisci. Explicabo mollitia ab hic consequuntur ipsa
  inventore repudiandae et necessitatibus ducimus eos dolorum, porro qui dolorem
  aliquid laudantium modi aperiam. Labore in quisquam ipsam sapiente temporibus,
  cumque tempore perspiciatis veniam repellendus repellat ipsum non nobis, autem
  fugiat sit amet alias ea officia quam. Error aperiam sit, optio doloremque
  deserunt tenetur sequi architecto? Minima blanditiis suscipit nesciunt
  voluptas dicta cumque odio possimus eaque tenetur. Tenetur nam minus atque.
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse eveniet facilis
  voluptates consequuntur vitae, dignissimos, perspiciatis consequatur aliquid
  cumque, maiores sequi accusantium eligendi temporibus error a aperiam tempore
  voluptas debitis sed excepturi exercitationem earum. Quaerat mollitia at quasi
  optio. Temporibus tenetur sint fuga vel sit corrupti veniam voluptate laborum
  at accusantium ex itaque dolore ipsa beatae quaerat maxime fugit quia id, cum
  architecto, totam perferendis sequi reiciendis. Voluptatibus deleniti aperiam
  perspiciatis sunt autem nihil, eveniet dolorum doloribus harum, expedita
  quisquam, soluta ipsa adipisci. Explicabo mollitia ab hic consequuntur ipsa
  inventore repudiandae et necessitatibus ducimus eos dolorum, porro qui dolorem
  aliquid laudantium modi aperiam. Labore in quisquam ipsam sapiente temporibus,
  cumque tempore perspiciatis veniam repellendus repellat ipsum non nobis, autem
  fugiat sit amet alias ea officia quam. Error aperiam sit, optio doloremque
  deserunt tenetur sequi architecto? Minima blanditiis suscipit nesciunt
  voluptas dicta cumque odio possimus eaque tenetur. Tenetur nam minus atque.
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse eveniet facilis
  voluptates consequuntur vitae, dignissimos, perspiciatis consequatur aliquid
  cumque, maiores sequi accusantium eligendi temporibus error a aperiam tempore
  voluptas debitis sed excepturi exercitationem earum. Quaerat mollitia at quasi
  optio. Temporibus tenetur sint fuga vel sit corrupti veniam voluptate laborum
  at accusantium ex itaque dolore ipsa beatae quaerat maxime fugit quia id, cum
  architecto, totam perferendis sequi reiciendis. Voluptatibus deleniti aperiam
  perspiciatis sunt autem nihil, eveniet dolorum doloribus harum, expedita
  quisquam, soluta ipsa adipisci. Explicabo mollitia ab hic consequuntur ipsa
  inventore repudiandae et necessitatibus ducimus eos dolorum, porro qui dolorem
  aliquid laudantium modi aperiam. Labore in quisquam ipsam sapiente temporibus,
  cumque tempore perspiciatis veniam repellendus repellat ipsum non nobis, autem
  fugiat sit amet alias ea officia quam. Error aperiam sit, optio doloremque
  deserunt tenetur sequi architecto? Minima blanditiis suscipit nesciunt
  voluptas dicta cumque odio possimus eaque tenetur. Tenetur nam minus atque.
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse eveniet facilis
  voluptates consequuntur vitae, dignissimos, perspiciatis consequatur aliquid
  cumque, maiores sequi accusantium eligendi temporibus error a aperiam tempore
  voluptas debitis sed excepturi exercitationem earum. Quaerat mollitia at quasi
  optio. Temporibus tenetur sint fuga vel sit corrupti veniam voluptate laborum
  at accusantium ex itaque dolore ipsa beatae quaerat maxime fugit quia id, cum
  architecto, totam perferendis sequi reiciendis. Voluptatibus deleniti aperiam
  perspiciatis sunt autem nihil, eveniet dolorum doloribus harum, expedita
  quisquam, soluta ipsa adipisci. Explicabo mollitia ab hic consequuntur ipsa
  inventore repudiandae et necessitatibus ducimus eos dolorum, porro qui dolorem
  aliquid laudantium modi aperiam. Labore in quisquam ipsam sapiente temporibus,
  cumque tempore perspiciatis veniam repellendus repellat ipsum non nobis, autem
  fugiat sit amet alias ea officia quam. Error aperiam sit, optio doloremque
  deserunt tenetur sequi architecto? Minima blanditiis suscipit nesciunt
  voluptas dicta cumque odio possimus eaque tenetur. Tenetur nam minus atque.
</p>
